.boton-lateral {
    -fx-background-color: #154260;
    -fx-text-fill: #fafafa;

    -fx-alignment: center-left;
    -fx-cursor: hand;
    -fx-background-radius: 0;
}

.boton-lateral:hover {
    -fx-background-color: #1c567c;
}
.columna-izquierda .table-cell{
    -fx-aligment: CENTER-LEFT;
}

.table-view {
    -fx-background-color: #FFFFFF; 
    -fx-border-color: #E0E0E0; 
    -fx-border-radius: 4;
}

.table-view .table-row-cell {
    -fx-background-color: #FFFFFF; 
    -fx-border-color: transparent transparent #F2F4F4 transparent;
}

.table-view .table-row-cell:hover {
    -fx-background-color: #EBF5FB; 
    -fx-cursor: hand;
}
